.exception {
  height: 600px;
  padding: 16px;
}
.image {
  width: 100%;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  //height: 80vh;
}
.img {
  font-size: 20px;
  margin-bottom: 32px;
  text-align: center;
}
